@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/* try to figure out bgfade in js */
body {
  height: fit-content;
  /* width: fit-content; */
  background-image: url(/images/flowersss_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;

  /* background: linear-gradient(to bottom, #d99d9d 0%,#10262d 18%);
  animation: bgFade 200s ease infinite; */
}

.wrapper {
  margin: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.542);
  overflow: scroll;
}
header {
  margin: 0;
  padding: 20px;
  background-image: url(/images/flowersss_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(28, 26, 62);
  background: linear-gradient(
    180deg,
    rgba(1, 36, 0, 0.99) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  color: rgba(255, 255, 255, 0.75);
  font-family: "Poiret One", serif;
  font-weight: 800;
  text-align: center;
  text-transform: lowercase;
}
h1 {
  margin-bottom: 40px;
  font-size: 3rem;
}
.h1-header {
  margin: auto;
  padding: 40px;
  font-size: 2rem;
  letter-spacing: 0.5dvh;
}
nav li {
  display: inline-block;
  margin: 0 1.5rem;

  border-radius: 20px;
  font-size: 1.3rem;
}
nav ul {
  /* outline: solid 0.5px rgb(255, 236, 236); */
}
nav a:link {
  color: rgb(83, 90, 54);
  background: none;
  text-decoration: none;
}
nav a:hover {
  color: black;
  background-color: rgb(56, 80, 42);
  box-shadow: 5px 0px rgb(95, 41, 41);
  /* border-radius: 10px; */
  /* padding: 10px; */
}
nav a:active {
  color: rgb(255, 255, 255);
  background-color: rgb(69, 128, 111);
  font-style: oblique;
}
nav a:visited {
  color: rgb(45, 95, 107);
  text-decoration-line: none;
}
main {
  flex: auto;
}
h2 {
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.362);
}
p {
  background-color: rgba(240, 248, 255, 0.5);
  margin: auto;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}
img {
  outline: solid black 5px;
  margin: 1rem;
  /* border-radius: 10px; */
}
