@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap");

html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  /* max-width: 1920px; */
}
img {
  width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
body {
  color: #44464a;
  background: rgb(63, 1, 1);
  background-image: url(/images/flowersss_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0 auto;
  background: rgb(22, 19, 205);
  background: radial-gradient(
    circle,
    rgba(22, 19, 205, 0.25) 0%,
    rgba(2, 0, 89, 0.1) 100%
  );
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: normal;
}
h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  letter-spacing: 0.5rem;
  /* text-transform: uppercase; */
  font-size: 3.5rem;
  color: #1a1b1f;
  margin: auto;
  padding: 0.75rem 2rem;
  padding-top: 2.6rem;
  text-align: left;
  /* background-color: red; */
}
h2 {
  color: #a6afd2;
  margin: 0.5rem 10rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  padding-bottom: 1rem;
  text-align: center;
  overflow: auto;
  font-family: "Poiret One";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: lowercase;
  background-color: rgba(1, 6, 27, 0.731);
  outline: solid black 2px;
  box-shadow: 5px 5px black;
  border: solid gray 2px;
  outline: solid black 2px;
  /* border-radius: 3rem; */
  border-radius: 1rem 3rem 1rem 2rem;
  box-shadow: 6px 6px 2px black;
}
h3 {
  height: 100%;
  width: 85%;
  text-wrap: ;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: rgb(158, 120, 106);
  background-color: #000000;
}
header {
  background: rgb(245, 190, 12);
  background: linear-gradient(
    101deg,
    rgb(238, 159, 40, 0.98) 0%,
    rgba(240, 129, 17, 0.88) 53%,
    rgba(215, 56, 56, 0.36) 100%
  );
}
.page-main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1.2rem;
  font-family: "Poiret One", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  overflow: scroll;
}
nav {
  background-color: rgb(240, 158, 17);
  font-family: "Josefin Slab", serif;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0px 5px 15px rgb(108, 33, 7);
}
nav li a:link {
  color: #16181b;
  text-decoration-line: none;
  padding: 0.5rem;
}
nav li a:hover {
  color: white;
  background-color: #5b582f76;
  font-style: normal;
}
nav li a:active {
  color: whitesmoke;
  background-color: rgb(206, 70, 20);
  box-shadow: 10px 0px black;
  font-style: oblique;
}
nav li a:visited {
  color: rgb(73, 32, 32);
}
nav li a:visited:hover {
  color: white;
}
aside {
  background-color: #16181b;
}
.main-img {
  width: 50%;
  float: left;
  margin-right: 15px;
}
.main-content {
  width: 100;
  height: 100%;
  background: rgb(1, 1, 12);
  background: linear-gradient(
    0deg,
    rgba(1, 1, 12, 1) 0%,
    rgba(1, 1, 12, 1) 11%,
    rgba(1, 1, 12, 0.8238872222447607) 20%,
    rgba(1, 1, 12, 1) 25%,
    rgba(1, 1, 11, 1) 41%,
    rgba(1, 1, 10, 1) 66%,
    rgba(1, 1, 9, 0.9431818181818182) 87%,
    rgba(1, 1, 9, 0.8295454545454546) 91%,
    rgba(1, 1, 8, 0.65) 94%,
    rgba(1, 0, 4, 0.4) 96%,
    rgba(2, 0, 89, 0) 100%,
    rgba(1, 0, 4, 0) 100%
  );
  background-size: cover;
  padding: 1rem;
}
.homepage-main {
  height: 100%;
  overflow-y: scroll;
}
.horn-picture {
  max-width: 10%;
  align-content: center;
  /* float: right; */
}
.gallery {
  /* display: flex;
  flex-direction: column; */
  width: 85%;
  height: 100%;
  padding-top: 3rem;
  max-width: 1080px;
  margin: 0 auto;
}
.music-page {
  /* background-image: url(/images/flowersss_music.png); */
  width: cover;
}
/* .music {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2021;
  letter-spacing: .5rem;
  margin: 0 auto;
  padding: 1rem;
  width: 30%;
  text-align: center;
  background-color: rgb(228, 200, 108);
  border-radius: 45px;
} */
.music-main {
  margin: 0 auto;
  width: 100%;
  /* border-radius: 130px; */
}
.music-text {
  margin: auto;
  padding: 1rem;
  font-family: "Josefin Slab", serif;
  font-size: 1.2rem;
  color: rgb(142, 181, 215);
  background-color: #000000;
}
figcaption {
  margin: auto;
  margin-right: 8rem;
  padding: 1rem;
  font-family: "Josefin Slab", serif;
  font-size: 1.2rem;
  color: rgb(226, 226, 226);
  background: rgb(111, 4, 69);
  background: linear-gradient(
    0deg,
    rgba(111, 4, 69, 0.9038901601830663) 11%,
    rgba(51, 1, 65, 1) 76%,
    rgba(15, 0, 31, 0.8283752860411899) 100%
  );
}
audio {
  background-image: url(/images/background.png);
  background-size: cover;
}
.tracks {
  margin: auto;
  width: 90%;
  padding: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.form {
  font-family: "Poiret One", serif;
  color: white;
  text-align: center;
}
#reference-media {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  overflow-y: scroll;
}
#reference-media li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
#reference-media a:link {
  margin: auto;
  padding: 1rem;
  font-family: "Poiret One", serif;
  color: black;
  background-color: gray;
}
.links {
  margin: auto;
  width: 50%;
  text-align: center;
  /* background-color: white; */
}
.links a:link {
  padding: 0.4rem 1.5rem;
  color: purple;
  background-color: rgb(240, 158, 17);
  border-radius: 15px 20px 13px 20px;
  box-shadow: 6px 6px rgb(146, 46, 0);
}
.links a:hover {
  padding: 0.4rem 1.5rem;
  color: rgb(210, 210, 210);
  background-color: rgb(218, 122, 32);
}
.links a:active {
  padding: 0.4rem 1.5rem;
  color: rgb(253, 253, 186);
  background-color: rgb(91, 152, 217);
  transform: translate(6px, 6px);
  box-shadow: 5px 5px rgb(88, 88, 205);
}
.links a:visited {
  color: darkblue;
}
footer {
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  font-family: "Josefin Slab", monospace;
  color: rgb(122, 110, 95);
  background-color: black;
  width: 100%;
}
@media (min-width: 768px) {
  h1 {
    margin-left: 1.25rem;
  }
  nav {
    text-align: right;
  }
  nav li {
    display: inline-block;
    margin: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 12, 1) 0%,
      rgba(1, 1, 12, 1) 11%,
      rgba(1, 1, 12, 0.8238872222447607) 20%,
      rgba(1, 1, 12, 1) 25%,
      rgba(1, 1, 11, 1) 41%,
      rgba(1, 1, 10, 1) 66%,
      rgba(1, 1, 9, 0.9431818181818182) 87%,
      rgba(1, 1, 9, 0.8295454545454546) 91%,
      rgba(1, 1, 8, 0.65) 94%,
      rgba(1, 0, 4, 0.4) 96%,
      rgba(2, 0, 89, 0) 100%,
      rgba(1, 0, 4, 0) 100%
    );
    background-size: cover;
  }
  aside {
    grid-row: 4 / span 1;
  }
  .tracks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #reference-media {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto;
    row-gap: 3rem;
  }
  .gallery {
    display: grid;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 12, 1) 0%,
      rgba(1, 1, 12, 1) 11%,
      rgba(1, 1, 12, 0.8238872222447607) 20%,
      rgba(1, 1, 12, 1) 25%,
      rgba(1, 1, 11, 1) 41%,
      rgba(1, 1, 10, 1) 66%,
      rgba(1, 1, 9, 0.9431818181818182) 87%,
      rgba(1, 1, 9, 0.8295454545454546) 91%,
      rgba(1, 1, 8, 0.65) 94%,
      rgba(1, 0, 4, 0.4) 96%,
      rgba(2, 0, 89, 0) 100%,
      rgba(1, 0, 4, 0) 100%
    );
    background-size: cover;
  }
}
@media (max-width: 1300px) {
  .tracks {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .page-main {
    margin: 0 auto;
    width: 100%;
    display: grid;
    max-height: fit-content;
  }
  h1 {
    font-size: 2.3rem;
    text-align: center;
  }
  h2 {
    font-size: 1.6rem;
  }
  nav ul {
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
    list-style: none;
  }
  nav li {
    margin: auto;
    padding: 0.2rem;
  }
  .main-content {
    height: auto;
    overflow: scroll;
    max-height: fit-content;
  }
  main.page-main {
    max-height: 100%;
    overflow: scroll;
  }
  .scroll {
    top: 100px;
    height: 100%;
    max-height: fit-content;
    width: 100%;
    overflow: scroll;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 12, 1) 0%,
      rgba(1, 1, 12, 1) 11%,
      rgba(1, 1, 12, 0.8238872222447607) 20%,
      rgba(1, 1, 12, 1) 25%,
      rgba(1, 1, 11, 1) 41%,
      rgba(1, 1, 10, 1) 66%,
      rgba(1, 1, 9, 0.9431818181818182) 87%,
      rgba(1, 1, 9, 0.8295454545454546) 91%,
      rgba(1, 1, 8, 0.65) 94%,
      rgba(1, 0, 4, 0.4) 96%,
      rgba(2, 0, 89, 0) 100%,
      rgba(1, 0, 4, 0) 100%
    );
    background-size: cover;
  }
  .gallery p {
    letter-spacing: 0.5rem;
    text-align: left;
  }
  .form {
    height: 100%;
    overflow: scroll;
  }
}
