@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* max-width: 1920px; */
}
img {
  width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
body {
  color: #44464a;
  background: rgb(105, 32, 32);
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: normal;
}
h1 {
  font-family: "Josefin Slab", serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3rem;
  color: #1f2021;
  margin: auto;
  padding: .75rem 2rem;
  text-align: left;
  /* background-color: red; */
}
header {
  background-color: rgb(228, 200, 108);
}
.page-main {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}
.main-img {
  width: 50%;
  float: left;
  margin-right: 15px;
}
main {
  background-color: black;
  padding: 1rem;
}
nav {
  background-color: rgb(54, 0, 0);
}
@media (min-width: 768px) {
  nav {
    text-align: right;
  }
  nav li {
    display: inline-block;
    margin: 1rem;
  }
}
