@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Karla", sans-serif;
  list-style: none;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  margin: 1rem;
}
a {
  text-decoration: none;
}
a:link {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
a:active {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

a:visited {
  color: white;
}
